**Exploring Netflix Viewing History Data**

In [ ]:
# Question 1- importing  relevant librairies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn  as sns

In [ ]:
# Question 2 - Assign a variable name to your Netflix data and specifiy the file path to read the csv file
import pandas as pd
netflix_data = pd.read_csv("/content/Netflix_data - Netflix_data.csv")

In [ ]:
# Question  3 - Have a look at the DataFrame stored in the specified variable
# Hint: You can use df.head() to view your data where df represents the assigned variable name you have given to your netflix data
netflix_data.head(15) # To display 10 rows, for instance

                                                Title        Date
0                                    Almost Christmas  24/12/2024
1                                   Our Little Secret  18/12/2024
2                      Twas the Text Before Christmas  18/12/2024
3       My Demon: Limited Series: Our Personal Heaven  10/12/2024
4           My Demon: Limited Series: The End of Fate  10/12/2024
5         My Demon: Limited Series: Our Personal Hell  10/12/2024
6   My Demon: Limited Series: The Past, the Origin...  09/12/2024
7   My Demon: Limited Series: The Savior of Destru...  09/12/2024
8   My Demon: Limited Series: A Paradise of the Om...  08/12/2024
9   My Demon: Limited Series: Breaking Through the...  08/12/2024
10       My Demon: Limited Series: The Unmasked Truth  07/12/2024
11       My Demon: Limited Series: The Fateful Choice  07/12/2024
12    My Demon: Limited Series: Stained Relationships  07/12/2024
13  My Demon: Limited Series: Into the Wheel of Fo...  07/12/2024
14                 My Demon: Limited Series: Only You  07/12/2024

In [ ]:
# Question 4 - How many columns are in the data?
netflix_data.shape[1]

2

**Performing Exploratory Data Analysis**

In [ ]:
# Question 5 - Provide a brief summary of your data with the .describe() python function
netflix_data.describe()

                   Title        Date
count                115         115
unique               115          48
top     Almost Christmas  21/07/2024
freq                   1          13

What have you observed from the output of the .describe() function executed?

In [ ]:
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Title   115 non-null    object
 1   Date    115 non-null    object
dtypes: object(2)
memory usage: 1.9+ KB

In [ ]:
netflix_data.isnull().sum()

Title    0
Date     0
dtype: int64

In [ ]:
netflix_data.columns

Index(['Title', 'Date'], dtype='object')

In [ ]:
netflix_data.shape

(115, 2)

In [ ]:
netflix_data.dtypes

Title    object
Date     object
dtype: object

In [ ]:
netflix_data.isna().sum()

Title    0
Date     0
dtype: int64

In [ ]:
# Using lambda function to find movie Title "The Union"
netflix_data[netflix_data['Title'].apply(lambda x: x.startswith('The Union'))]

        Title        Date
45  The Union  20/08/2024

In [ ]:
netflix_data[netflix_data['Title'].apply(lambda x: x.startswith('The Union'))].sum()

Title     The Union
Date     20/08/2024
dtype: object

In [ ]:
# Using lambda function to find the number of times the movie Title "The Union"
netflix_data[netflix_data['Title'].apply(lambda x: x.startswith('The Union'))].sum()

Title     The Union
Date     20/08/2024
dtype: object

In [ ]:
# Using lambda function to find the number of times the movie Title "My Name"
netflix_data[netflix_data['Title'].apply(lambda x: x.startswith('My Name'))].sum()

Title    My Name: Episode 8My Name: Episode 7My Name: E...
Date     23/06/202423/06/202423/06/202421/06/202421/06/...
dtype: object

In [ ]:
# Using lambda function to find the number of times the movie Title "Master of the House"
netflix_data[netflix_data['Title'].apply(lambda x: x.startswith('Master of the house'))].sum()

Title    0
Date     0
dtype: object

In [ ]:
# Using lambda function to find the number of times the movie Title "Postcards"
netflix_data[netflix_data['Title'].apply(lambda x: x.startswith('Postcards'))].sum()

Title    Postcards: A Tree does not make a ForestPostca...
Date     19/06/202419/06/202419/06/202419/06/202419/06/...
dtype: object

In [ ]:
# Using lambda function to find the number of times the movie Title "Union"
netflix_data['Title'].apply(lambda title:'The Union' in title).sum()

np.int64(1)

In [ ]:
# Using lambda function to find the number of times the movie Title "My Name"
netflix_data['Title'].apply(lambda title:'My Name' in title).sum()

np.int64(8)

In [ ]:
netflix_data['Title'].apply(lambda title:'Postcards' in title).sum()

np.int64(6)

In [ ]:
#  Finding the title of the current movie watched
netflix_data[netflix_data['Title'] == 'The Union']

        Title        Date
45  The Union  20/08/2024